#chat {
  flex: 1 0 auto;
  display: block;
  height: 0px;
}

#chat-messages {
  text-align: left;
  padding: 10px;
  background: #ffffff;
  overflow: auto;
  max-height: 100%;
  word-wrap: break-word;
}

#scrollbar {
  float: left;
  clear: both;
}
