/*
 * Register styling
 *
 * Defines layout fundamentals for the register page.
 */

$background_color: #232f3e;
$font_color: #c1c7c9;

#register {
    background-color: $background_color;
    border-radius: 7px;
    padding: 20px;

    >h2 {
        color: $font_color;
        text-align: center;
    }
}

#login>h4 {
    color: $background_color;
    text-align: center;
}

#register-username,
#register-password,
#register-confirm {
    margin-top: 15px;
}

#register-login {
    margin-top: 10px;
}