#register {
    background-color: #232f3e;
    border-radius: 7px;
    padding: 20px;
}

#register > h2, #login > h4 {
    color: #c1c7c9;
    text-align: center;    
}

#register-username, #register-password, #register-confirm {
    margin-top: 15px;
}

#register-login {
    margin-top: 10px;
}