#navigation-menu {
  background-color: #232f3e;
  display: block;
  text-align: center;
}

.navigation-menu-link-active {
  background-color: #18202c;
}

.navigation-menu-group {
  display: inline-block;
}

.overlay-div {
  display: inline-block;
}