.received-message {
    margin-top: 10px;
    display: flex;
}

.received-message-profile {
    border: 2px solid rgb(54, 56, 58);
    border-radius: 5px;
    text-align: center;
    padding: 0px;
    margin-right: 5px;
}

.received-message-profile-img {
    max-width: 30%;
}

.received-message-profile-name {
    background-color: #bac1b8;
    text-align: center;
    margin: 0px;
}

.received-message-text {
    background-color: #a1c6ea;
    border-radius: 10px;
    padding: 5px;
    margin-right: 5px;
}

.received-message-timestamp {
    padding: 0px;
    text-align: left;
    font-size: 0.6em;
}

.sent-message {
    margin-top: 10px;
    display: flex;
    margin-right: 5px;
    padding-right: 15px;
    text-align: center;
}

.sent-message-profile {
    padding: 0px;
    font-size: 0.8em;
}

.sent-message-profile-name {
    margin: 0px;
}

.sent-message-text {
    display: flex;
    align-items: flex-end;
    text-align: left;
}

.sent-message-text > p {
    background-color: #507dbc;
    border-radius: 10px;
    padding: 5px;
    margin-left: 5px;
    width: 100%;
    margin-bottom: 0px;
}

.sent-message-timestamp {
    padding: 0px;
    text-align: right;
    font-size: 1em;
    display: flex;
    align-items: flex-end;
    justify-content: flex-end;
    opacity: 0.8;
}

.sent-message-timestamp > p {
    margin: 0;
    padding-right: 5px;
}