/*
 * Course Discussion styling
 *
 * Defines layout fundamentals for Course Discussion.
 */

$chat_navigation_background_color: #232f3e;
$chat_navigation_active_color: #4CAF50;
$navbar_item_color: #babdc0;

.chat-navigation-item {
    display: block;
    margin: 0px;
}

.chat-navigation-item-selected {
    display: block;
    margin: 0px;
    background-color: $chat_navigation_background_color;
}

.navbar-item-name,
.navbar-item-avatar {
    display: inline-block;
}

.navbar-item-name {
    color: $navbar_item_color;

    >p {
        margin: 0px;
    }
}

.chat-navigation-item {
    &:hover {
        background-color: $chat_navigation_background_color;
        text-decoration: none;
    }

    &.active {
        background-color: $chat_navigation_active_color;
        color: white;
    }
}

#tag:hover {
    background-color: $chat_navigation_background_color;
}

.chat-selector-line-break {
    background-color: white;
    height: 3;
    width: 100%;
}