.overlay-container {
    display: flex;
}

.toggle-container {
    display: flex;
    flex: 1;
}

.overlay-dismiss {
    flex: 1;
    margin-right: 5px;
}

.overlay-footer {
    display: flex;
    flex: 1;
    justify-content: flex-end;
}

#custom-overlay-close {
    flex: 0;
}