#chat-title {
    margin: 0px;
    display: block;
    text-align: left;
    color: white;
    font-size: 24px;
    font-weight: bold;
    background-color: #a2abab;
    height: 5%;
}

#chat-title > p {
    margin: 0px;
    padding-left: 5px;
}