.receivedMessage {
    margin-top: 10px;
    display: flex;
}

.receivedMessage-profile {
    border: 2px solid rgb(54, 56, 58);
    border-radius: 5px;
    text-align: center;
    padding: 0px;
    margin-right: 5px;
}

.receivedMessage-profile-img {
    max-width: 30%;
}

.receivedMessage-profile-name {
    background-color: #bac1b8;
    text-align: center;
    margin: 0px;
}

.receivedMessage-text {
    background-color: #a1c6ea;
    border-radius: 10px;
    padding: 5px;
    margin-right: 5px;
}

.receivedMessage-timestamp {
    padding: 0px;
    text-align: left;
    font-size: 0.6em;
}
