#login {
    background-color: #232f3e;
    border-radius: 7px;
    padding: 20px;
}

#login > h2, #login > h4 {
    color: #c1c7c9;
    text-align: center;    
}

#login-username, #login-password {
    margin-top: 15px;
}

#login-register {
    margin-top: 10px;
}

#forgot-password {
    margin-top: 10px;
    float: right;
}

#remember-me {
    margin-top: 10px;
}