$background_color: #232f3e;
$font_color: black;

#login {
    background-color: $background_color;
    border-radius: 7px;
    padding: 20px;
    > {
      h2, h4 {
        color: $font_color;
        text-align: center;
      }
    }
  }
  
  #login-username, #login-password {
    margin-top: 15px;
  }
  
  #login-register {
    margin-top: 10px;
  }
  
  #forgot-password {
    float: right;
  }
  
  #checkbox-forgot {
    margin-top: 10px;
  }