/*
 * Loing styling
 *
 * Defines layout fundamentals for the login page.
 */


$background_color: #232f3e;
$font_color: #c1c7c9;

@mixin top_margin($value) {
    margin-top: $value
}

#login {
    background-color: $background_color;
    border-radius: 7px;
    padding: 20px;

    > {

        h2,
        h4 {
            color: $font_color;
            text-align: center;
        }
    }
}

#login-username,
#login-password {
    @include top_margin(15px);
}

#login-register {
    @include top_margin(10px);
}

#forgot-password {
    float: right;
}

#checkbox-forgot {
    @include top_margin(10px);
}