#message-input-textfield {
    background-color: #eaeff1;
    border: none;
    height: 100%;
}

#message-input-send-img {
    vertical-align: middle;
}

#message-input {
    flex: 1 0 auto;
    background-color: #eaeff1;
    text-align: left;
}

form {
    flex: 0 1 auto;
    display: flex;
    flex-flow: column;
}