#message-input-textfield {
  font-size: 24px;
}

#message-input-insert-png, #message-input-send-img {
    height: 65px;
}

#message-input-send-img {
    vertical-align: middle;
}

#message-input {
    background-color: #eaeff1;
    text-align: left;
}

form {
    flex: 0 1 auto;
}