/*
 * Notification styling
 *
 * Defines layout fundamentals for the Notifications.
 */

 #notification-panel {
    float: right;
    position: absolute;
    top: 70px;
    right: 0px;
    width: 350px;
    height: 450px;
    background-color: #18202c;
    z-index: 99;
}

.hide {
    visibility: hidden
}

.show {
    visibility: visible;
}

/*
 * Direct Message styling
 *
 * Defines layout fundamentals for Direct Messages.
 */

 $direct_message_background_color: #babdc0;
 
 .direct-message {
     color: $direct_message_background_color;
     padding: 0;
     margin: 0;
     display: flex;
     align-items: center;
     height: 100px;
 
     &:hover {
         text-decoration: none;
     }
 }
 
 .direct-message-selected {
     padding: 0;
     margin: 0;
     display: flex;
     align-items: center;
     text-decoration: none;
 }
 
 .direct-message-content>p {
     padding: 0;
     margin: 0;
     line-height: 24px;
 }

 
 .direct-message-avatar > img {
     width: 32px;
     height: auto;
 }
 
 #direct-message-preview {
     padding-left: 10px;
 }
 
 .direct-message-content {
     text-align: left;
     display: inline-block;
 }
 
 .direct-message-preview {
     border-radius: 5px;
 }
