/*
 * Messenger styling
 *
 * Defines layout fundamentals for the Messenger.
 */

.aware-container {
    height: 100vh;
    max-height: 100vh;
}

.aware-column {
    height: 100%;
}

#messenger-root {
    flex-direction: column;
    height: 100%;
}

#navigation-header {
    flex: 0 1 auto;
}

#messenger-body {
    overflow: auto;
    font-family: 'Roboto';
}

#messenger {
    display: flex;
    flex-flow: column;
    justify-items: stretch;
}