#landing-canvas {
    flex-direction: column;
    justify-content: center;
    background-image: url('/shrek.jpg');
}

label {
    color: #a7afb2;
}

#landing-textfield {
    background-color: #18202c;
    width: 100%;
    padding: 8px 10px;
    display: inline-block;
    border: 1px solid #ccc;
    border-color: #18202c;
    border-radius: 7px;
    color: #a7afb2;
}

button {
    background-color: #ffc000;
    color: black;
    padding: 10px 10px;
    border: none;
    width: 100%;
    border-radius: 7px;
    margin-top: 15px;
}