.simple-slider .swiper-slide {
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.simple-slider {
    height: 100vh;
    width: 100%;
}

.swiper-wrapper {
    transition-delay: 3000ms;
}

#landing-canvas {
    display: grid;
    grid-template-columns: 1fr;
    padding: 0;
}

#simple-slider {
    grid-row-start: 1;
    grid-column-start: 1;
    z-index: 1;
    width: 100%;
}

#landing-form {
    grid-row-start: 1;
    grid-column-start: 1;
    height: 520px;
    z-index: 2;
    align-self: center;
}

#slide-1 {
    background-image: url("/test0.jpg");
}

#slide-2 {
    background-image: url("/test1.jpg");
}

#slide-3 {
    background-image: url("/test2.jpg");
}
