/*
 * Landing styling
 *
 * Defines layout fundamentals for the landing page.
 */

$landing_textfield_color: #18202c;
$label_font_color: #a7afb2;
$button_color: #ffc000;
$forgot_password_font_color: #008080;
$backround_image_url: '/shrek.jpg';

#landing-canvas {
    flex-direction: column;
    justify-content: center;
    background-image: url($backround_image_url);
  }
  
  label {
    color: $label_font_color;
  }
  
  .landing-textfield {
    background-color: $landing_textfield_color;
    width: 100%;
    padding: 8px 10px;
    display: inline-block;
    border: 1px solid #ccc;
    border-color: $landing_textfield_color;
    border-radius: 7px;
    color: $label_font_color;
  }
  
  button {
    background-color: $button_color;
    color: black;
    padding: 10px 10px;
    border: none;
    width: 100%;
    border-radius: 7px;
    margin-top: 15px;
  }
  
  label > span, #forgot-password {
    cursor: pointer;
    color: $forgot_password_font_color;
    text-decoration: underline;
  }
  
  label > span:hover, #forgot-password {
    text-decoration: none;
    text-shadow: 1px 1px 1px #555;
  }