/*
 * Direct Messages styling
 *
 * Defines layout fundamentals for Direct Messages.
 */

#direct-messages {
    display: flex;
    flex-direction: column;

    >input {
        margin-bottom: 0.5em;
        height: 35px;
        align-self: center;
        flex: 0;
    }
}

#direct-messages-new {
    background: rgb(233, 152, 3);
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 10px;
    opacity: 0.9;

    * {
        padding: 5px;
    }

    > p {
        margin: 0;
    }

    &:hover {
        opacity: 1;
    }
}

#right-bar>a {
    text-align: center;
}