/*
 * Direct Messages styling
 *
 * Defines layout fundamentals for Direct Messages.
 */

#direct-messages {
    display: flex;
    flex-direction: column;

    >input {
        margin-bottom: 0.5em;
        height: 35px;
        align-self: center;
        flex: 0;
    }
}

#right-bar>a {
    text-align: center;
}