/*
 * Direct Messages styling
 *
 * Defines layout fundamentals for Direct Messages.
 */

#direct-messages {
    display: block;
    height: 100%;

    >input {
        margin-bottom: 0.5em;
        height: 35px;
        font-size: 20px;
        width: 85%;
    }
}

#right-bar>a {
    text-align: center;
}