.direct-message {
    color: #babdc0;
    padding: 0;
    margin: 0;
    display: flex;
    align-items: center;
}

.direct-message:hover {
    background-color: #232f3e;
    text-decoration: none;
}

.direct-message-content > p {
  padding: 0;
  margin: 0;
}

#direct-message-preview {
  padding-left: 10px;
}

.direct-message-content {
    text-align: left;
    display: inline-block;
}
.direct-message-preview {
    border-radius: 5px;
}
